<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Security Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/script.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("/scan_status")
                .then(response => response.json())
                .then(data => {
                    if (data.network_scan_completed) {
                        document.getElementById("network-block").classList.add("completed");
                    }
                    if (data.web_scan_completed) {
                        document.getElementById("web-block").classList.add("completed");
                    }
                    if (data.network_scan_completed && data.web_scan_completed) {
                        document.getElementById("scan-complete-btn").style.display = "block";
                    }
                });
        });

        function resetScanStatus() {
            fetch("/reset_scan_status", { method: "POST" })
                .then(() => {
                    window.location.href = "{{ url_for('index') }}";
                });
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/logo_NShield.png') }}" alt="NShield Logo" class="logo">
            <img src="{{ url_for('static', filename='img/logo_NShield.png') }}" alt="NShield Logo Blur" class="logo logo-blur">
        </div>
        <div class="grid">
            <a href="{{ url_for('install') }}" class="block">Installation</a>
            <a href="{{ url_for('network') }}" class="block" id="network-block">Network Security Scan</a>
            <a href="{{ url_for('web') }}" class="block" id="web-block">Web Application Security Scan</a>
            <a href="{{ url_for('results') }}" class="block">Results / Analysis</a>
        </div>
        <button id="scan-complete-btn" class="scan-complete" onclick="resetScanStatus()">Scanning Completed - Return to Home</button>
    </div>
</body>
</html>
