body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.block {
    padding: 20px;
    background-color: lightgray;
    text-decoration: none;
    border-radius: 5px;
}
.completed {
    background-color: green;
    color: white;
}

